<div class="d-flex justify-content-center">
  <%= form_with model: @employee, url: @action == 'edit' ? employee_path : employees_path, method: @action == 'edit' ? :patch : :post, id:'myEmployee' do |form| %>
    <%= form.label :name, "Name"%><br>
    <%= form.text_field :name, class:'input form-control'%><br>

    <%= form.label :employee_type, "Employee Type"%><br>
    <%= form.text_field :employee_type,  class:'input form-control'%><br>

    <%= form.label :department_id, "Department Name"%><br>
    <%= form.select :department_id, Department.all.collect{ |d| [d.name, d.id]}, class:'form-control'%><br>

    <%= form.label :specialist_ids, "Specialist"%><br>
    <%= form.select :specialist_ids, Specialist.all.collect{ |s| [s.name, s.id]}, class:' form-control'%><br>

    <%= form.label :phone_number, "Contact"%><br>
    <%= form.text_field :phone_number, class:'input form-control'%><br>

    <%= form.label :email, "Email"%><br>
    <%= form.email_field :email, class:'input form-control'%><br>

    <%= form.label :aadhar_number, "Aadhar Number"%><br>
    <%= form.text_field :aadhar_number, class:'input form-control'%><br>

    <%= form.label :address, "Address"%><br>
    <%= form.text_area :address, class:'input form-control'%><br>

    <%= form.label :salary, "Salary"%><br>
    <%= form.text_field :salary, class:'input form-control'%><br>

    <%= form.label :joining_date, "Joining Date"%><br>
    <%= form.date_field :joining_date, class:'input form-control'%><br>

    <%= form.label :password, "Password"%><br>
    <%= form.password_field :password, class:'input form-control'%><br>

    <input type="button" value="submit", id="submit-btn"></input>
  <% end %>
</div>



<script >
  var regName = /^[A-Za-z]{3,}$/
  var regEmployeeType = /^[A-z]+$/ 
  // var regDepartmentName = /^[A-z]+$/
  // var regSpecialist = /^[A-z]+$/
  var regPhoneNumber = /^[0-9]{10}$/
  var regEmail = /^\w[\w+.\-_]+@(gmail).(com)$/
  var regAadharNumber =  /^[0-9]{12}$/
  var regAddress = /(.){10,}/ 
  var regSalary = /^\d+$/
  var regJoiningDate = /^[\d+-]+$/
  // var regPassword = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$/

  var regPassword = /.{6,}/
  // console.log(1)
  
  var inputArray = document.querySelectorAll(".input");
  var  myForm = document.getElementById("myEmployee");
  var alertArray = ['name must be present & character', 'Employee type must be present', 'Contact must be present and valid', 'Email must be present and valid', 'Aadhar Number must be present and valid', 'Address must be present and greater than of 10 length ', 'Salary must be present', 'Joining Date must be present', 'Password must be present']
  var regArray = [regName, regEmployeeType,  regPhoneNumber, regEmail, regAadharNumber, regAddress, regSalary, regJoiningDate,  regPassword ]
  var array = []
  var submit = document.querySelector("#submit-btn");
  submit.addEventListener("click", validaionCheck);
  function validaionCheck(e) {
  var  validation_pass = true
    for (var i = 0; i < inputArray.length; i++) {

      array.push(inputArray[i].value)
      console.log(array)
      if ( !regArray[i].test(array[i])) {
        alert(alertArray[i]);
        array.length = 0;
        validation_pass = false
        console.log(array[i]);
        console.log(alertArray[i]);
        break;
      }
    }
    console.log('validation checked')
    // if (validation_pass) ? myForm.submit() : e.preventDefault();
    if (validation_pass) {
      myForm.submit()
    }else {
      e.preventDefault()
    }
  }
</script>

