<div class="d-flex justify-content-center">
  <%= form_with model: @appointment, url: appointments_path, method: :post, id:'myAppointment' do |form| %>
    <%= form.label :symptoms, "Symptoms"%><br>
    <%= form.select :symptoms, [ 'cold', 'fever', 'dentist', 'pregnancy', 'mental_health'], dataType:"script", class:' form-select'%><br>

    <%= form.label :employee_id, "Doctor Name"%><br>
    <%= form.text_field :employee_id,  class:'form-control'%><br>

    <%= form.label :name, " Name "%><br>
    <%= form.text_field :name, class:'input form-control'%><br>

    <%= form.label :phone_number, "Contact"%><br>
    <%= form.text_field :phone_number, class:'input form-control'%><br>

    <%= form.label :email, "Email"%><br>
    <%= form.email_field :email, class:'input form-control'%><br>

    <%= form.label :Datetime, "Choose date"%><br>
    <%= form.date_field :Datetime, class:'input form-control'%><br>

    <input type="button" value="save", id="submit-btn"></input>
  <% end %>
</div>

<%= javascript_include_tag "find_doctors" %> 


<script type="text/javascript">
  var regName = /^[A-Za-z\s]{3,}$/
  var regPhoneNumber = /^[0-9]{10}$/
  var regEmail = /^\w[\w+.\-_]+@(gmail).(com)$/
  var regJoiningDate = /^[\d+-]+$/

  
  var inputArray = document.querySelectorAll(".input");
  var  myForm = document.getElementById("myAppointment");
  var alertArray = ['name must be present ', 'Contact must be valid ', 'Enter valid email address',  'Please Choose a date']
  var regArray = [regName, regPhoneNumber, regEmail, regJoiningDate]
  var array = []
  var submit = document.querySelector("#submit-btn");
  submit.addEventListener("click", validaionCheck);
  function validaionCheck(e) {
  var  validation_pass = true
    for (var i = 0; i < inputArray.length; i++) {

      array.push(inputArray[i].value)
      console.log(array)
      if ( !regArray[i].test(array[i])) {
        alert(alertArray[i]);
        array.length = 0;
        validation_pass = false
        console.log(array[i]);
        console.log(alertArray[i]);
        break;
      }
    }
    console.log('validation checked')
    // if (validation_pass) ? myForm.submit() : e.preventDefault();
    if (validation_pass) {
      myForm.submit()
    }else {
      e.preventDefault()
    }
  }
</script>
