
<div class="d-flex justify-content-center">
  <%= form_with model: @appointment, url: appointments_path, method: :post, id:'myAppointment' do |form| %>
    <%= form.label :name, " Name "%><br>
    <%= form.text_field :name, class:'input form-control'%><br>

    <%= form.label :phone_number, "Contact"%><br>
    <%= form.text_field :phone_number, class:'input form-control'%><br>

    <%= form.label :email, "Email"%><br>
    <%= form.email_field :email, class:'input form-control'%><br>

    <%= form.label :age, "Age"%><br>
    <%= form.text_field :age, class:'input form-control'%><br>

    <%= form.label :syndrome_id, "Symptoms"%><br>
    <%= form.select :syndrome_id, Syndrome.all.collect{|s| [s.name, s.id]}, class:' form-select', id:'syndrome'%><br>

    <%= form.label :date, "Choose date"%><br>
    <%= form.date_field :date, min: Date.today, max:"2022-03-30", class:'input form-control'%><br>

    <%= form.label :time, "Choose slot"%><br>
    <%= form.select :time, Slot.all.collect{|s| [s.appointment_time, s.appointment_time]},class:' form-control'%><br>

    <%= form.text_field :employee_id, type:'hidden' ,class:' form-control'%><br>
  
    <input type="button" value="Check Availablity", id="available"></input>


    <input type="button" value="save", id="submit-btn"></input>
  <% end %>
</div>

 <%= javascript_include_tag "find_doctors" %> 


<script type="text/javascript">

  availablilty = document.querySelector('#available')
  var availabliltyCheck = false
  availablilty.addEventListener('click', function() {
    availabliltyCheck = true
  })

  var regName = /^[A-Za-z\s]{3,}$/
  var regPhoneNumber = /^[0-9]{10}$/
  var regEmail = /^\w[\w+.\-_]+@(gmail).(com)$/
  var regAge = /^[0-9]{1,3}$/
  var regDate = /^[\d+-]+$/


  
  var inputArray = document.querySelectorAll(".input");
  var  myForm = document.getElementById("myAppointment");
  var alertArray = ['name must be present ', 'Contact must be valid ', 'Enter valid email address', 'Age must be present',  'Please Choose a date']
  var regArray = [regName, regPhoneNumber, regEmail, regAge, regDate]
  var array = []
  var submit = document.querySelector("#submit-btn");
  submit.addEventListener("click", validaionCheck);
  function validaionCheck(e) {
    var  validation_pass = true
    for (var i = 0; i < inputArray.length; i++) {

      array.push(inputArray[i].value)
      console.log(array)
      if ( !regArray[i].test(array[i])) {
        alert(alertArray[i]);
        array.length = 0;
        validation_pass = false
        console.log(array[i]);
        console.log(alertArray[i]);
        break;
      }
    }
    console.log('validation checked')
    if (validation_pass && availabliltyCheck) {
      myForm.submit()
    }else {
      alert('Please checked Availablity')
      e.preventDefault()
    }
  }


</script>



