<div class="d-flex justify-content-center">
  <%= link_to "Make a Appointment", new_appointment_path, medthod: :get, class: "nav-link color-black" if user_signed_in?%>
</div>
<table class="d-flex justify-content-center ">
  <tr>
    <th class="border-2 p-1">Appointment ID</th>
    <th class="border-2 p-1">Patient Name</th>
    <th class="border-2 p-1">Phone Number</th>
    <th class="border-2 p-1">Email</th>
    <th class="border-2 p-1">Age</th>
    <th class="border-2 p-1">Date</th>
    <th class="border-2 p-1">Time</th>
    <th class="border-2 p-1">Doctor Name</th>
  </tr>
  <% @appointments.each do |appointment|%>
    <% if ((employee_signed_in? ) && ((current_employee.employee_type == 'admin') || (current_employee.id == appointment.employee_id) || (current_employee.employee_type == 'receptionist'))) || (user_signed_in? &&  current_user.id == appointment.user_id) %>
      <tr>
        <td class="border-2 p-1"><%= appointment.id %></td>
        <td class="border-2 p-1"><%= appointment.name %></td>
        <td class="border-2 p-1"><%= appointment.phone_number %></td>
        <td class="border-2 p-1"><%= appointment.email %></td>
        <td class="border-2 p-1"><%= appointment.age %></td>
        <td class="border-2 p-1"><%= appointment.date %></td>
        <td class="border-2 p-1"><%= appointment.time %></td>
        <td class="border-2 p-1"><%= appointment.employee.name %></td>
      </tr>
    <% end%>
  <% end %>

</table>
